#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
    <h1 style="rgb(0, 153, 255);">
        This app is for use with the WeatherTop 1000:
    </h1>
    <h3>
        the state of the art Weather Station with a 5 in 1 Wireless Sensor for Wind Speed & Direction, Rainfall,
        Temperature and Humidity readings.
    </h3>
    <p>
        <img src="public/images/weathercentre.jpg" alt="Weather Centre" class="ui medium left floated image">
        WeatherTop brings to you Weather Station with Radio Control Clock ( MSF UK & Ireland ) and 5-in-1 professional
        sensor that tells you about the different changes in weather outside your space. <br> <br><br>This device gets a
        stylish design
        and displays , Wind Speed & Direction , Temperature , Humidity & Rain Fall, weather forecast and time-related
        details .
        <br><br><br> This weather station gets an LCD display which shows you clear and precise readings. You receive
        weather data from 5-in-1
        professional (YC1129) via 868 MHz RF transmission.<br><br> <br>You also get a buzzer alarm clock with ice
        pre-alert function that beeps
        when the weather is unfavourable outside.<br> <br><br>The entire system is very easy to use and synchronize
        which makes it a perfect addition to your home.
    </p>
    <br>
    <br>
</section>

<section class="ui left aligned middle aligned segment">
    <h2>Weathertop 1000 weather station with 5-in-1 professional sensor</h2>
    <br><br><br>
    <p><img src="public/images/weathercentre2.jpg" alt="Weather Centre" class="ui medium right floated image">
    <ul>
        <li>Clear professional display for time & full weather information</li>
        <li>Receive weather data from 5-in-1 weather sensor (YC1129) via 868 MHz RF transmission</li>
        <li>Display time, calendar, weekday & moon phase</li>
        <li>Radio control ( MSF - UK & Ireland Version ) time sync & DST Auto/Off function.</li>
        <li>Buzzer alarm clock with ice pre-alert function , Indoor temperature (°C/°F) & humidity with comfort
            indicator
        </li>
        <li>Outdoor temperature (°C/°F) and humidity reading</li>
        <li>Gust or Average wind speed (mph, m/s, km/h, knots)</li>
        <li>Real time & dominant wind direction (16-directions)</li>
        <li>Rain rate, Daily, Weekly, Monthly rainfall (in/ mm)</li>
        <li>Weather forecast (sunny, partly cloudy, cloudy, rainy, stormy, snowy)</li>
        <li>Barometric pressure in relative or absolute readings (hPa, inHg, mmHg)</li>
        <li>Historical bar chart display for rainfall (past 5 days) or pressure change (past 1,3,6,12,24 hour)</li>
        <li>Weather index for indoor dew-point, wind chill, heat index & beaufort level</li>
        <li>Max/Min memory records with time-date stamps , Past 24hr hourly record</li>
        <li>Hi/Lo alert setting (indoor/ outdoor temperature & humidity)</li>
        <li>Hi alert setting (wind-speed, and daily rainfall) , Flashing indicator and LED indicator for weather alert ,
            Amber backlight
        </li>
        <li>5 languages for weekday (GB/ FR/ DE/ES/ IT)</li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </p>
</section>
<footer>Copyright © 2021 Nile O Solutions, Dublin. All rights reserved <img class="ui small image"
                                                                            src="public/images/NILEO.png"
                                                                            alt="NILEO Company Logo"></footer>