#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header"><img class="ui tiny float left image" src="public/images/weathertop1.png"
                             alt="Weathertop Watchtower Logo">
    Welcome to WeatherTop <img class="ui small float right image" src="public/images/weathertop1.png"
                               alt="Weathertop Watchtower Logo">
  </h1>
  <p>
    This app is for use with the WeatherTop 1000. Amalgamate all your weather info in one place and feel confident you
    can access it all with the touch of a button.
  </p>
  <div>
    <img class="ui fluid image" src="public/images/weather.jpeg" alt="Image of lots of types of weather">
  </div>
</section>
